a.selected {
  color : #fff;
  font-weight : bold;
  text-decoration: underline;
}

.ui-controlgroup {
  width:90% !important;
}

.ui-button.opt2 {
  width:38% !important;
}

svg#map {
  margin: 0;
  padding: 0;
  bottom: 0;
}

div#top-menu {
  height: 50px;
}

div.main-content {
  overflow-y: hidden;
  overflow-x: hidden;
}

div.ui-front {
  z-index: 1000 !important;
}

span.ui-selectmenu-button.ui-button {
  width: 88%;
}